@using Prototyping.Ipsum;
<div class="ribbon-wrapper">
    <div class="ribbon"><a href="https://github.com/jetimblin">GitHub</a></div>
</div>

<div class="row">
    <div class="large-12 columns">
        <h1>ASP.NET MVC 5 example with Responsive Design</h1>
        <h2 class="subheader">Uses Foundation and Isotope.js</h2>
    </div>
</div>

<div class="row">
    <div class="large-12 columns tiles">
        <div class="panel example highlight">
            <article>
                <header><a href="https://github.com/jetimblin/FoundationIsotopeMVC">This page is linked to GitHub</a></header>
                <div class="description">
                    <p>
                        This page is linked directly to Github for autodeployment on commits to the master branch. To commit a change execute: <br />
                        git commit -m "First Round of Commits"
                        <br />
                        To push the change up to the master branch type in:
                        <br />
                        git push origin master
                    </p>

                </div>
            </article>
        </div>
        <div class="panel">
            <article>
                <header><a href="http://www.dnnsoftware.com/">DNN: DotNetNuke</a></header>
                <div class="description">
                    <p>
                        DNN - Open Source Web CMS built on the .NET platform.
                    </p>

                </div>
            </article>
        </div>
        <div class="panel example">
            <article>
                <header><a href="https://github.com/EdCharbeneau/RapidPrototypingMVC4Examples">Rapid Prototyping Examples</a></header>
                <div class="description">
                    <p>
                        This GitHub repo shows how to use the Prototyping for MVC HTML Helper. Multiple example layouts and UI patterns are demonstrated.
                    </p>

                </div>
            </article>
        </div>



        @for (int i = 0; i < 20; i++)
        {


            <div class="panel">
                <article>
                    <header><a href="#">@Html.Ipsum().Words(2)</a></header>
                    <div class="description">
                        <p>
                            @Html.Ipsum().p()
                        </p>
                    </div>
                </article>
            </div>
        }
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery.isotope.js"></script>
    <script>
        var $tiles = $('.tiles');
        $tiles.isotope({
            // options
            itemSelector: '.tiles > div',
            layoutMode: 'masonry'
        });
        //$('#filters a').click(function () {
        //    var $this = $(this);
        //    if ($this.hasClass("active")) {
        //        return false;
        //    }
        //    var selector = $this.attr('data-filter');
        //    $tiles.isotope({ filter: selector });
        //    $this.parents("#filters").find(".active").removeClass("active");
        //    $this.parent().addClass("active");
        //    return false;
        //});
    </script>
}